In [2]:
import pandas as pd

In [3]:
path = "data/raw_data/phase-1/prob-1/raw_train.parquet"

In [4]:
data = pd.read_parquet(path)

In [10]:
data.head()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,feature11,feature12,feature13,label,feature14,feature15,feature16
0,Site engineer,grocery_pos,8.60,48230,40.213439,-85.203756,47583,42.508293,-83.168004,65.596062,3,5,1,1,8.017865,1.028822,58.911132
1,Site engineer,gas_transport,316.84,48230,44.379391,-82.859721,47583,42.661838,-81.966510,64.728795,6,5,1,1,11.768568,1.106217,64.431017
2,Site engineer,grocery_pos,294.89,48230,42.950657,-84.935542,47583,42.580470,-82.408529,65.434606,3,5,1,1,7.996359,0.899881,57.545348
3,Site engineer,shopping_net,831.08,48230,39.372111,-84.893973,47583,41.948688,-83.919881,64.990422,23,6,1,1,8.767720,1.062966,62.681169
4,Site engineer,health_fitness,1063.84,48230,41.227499,-83.228392,47583,41.544743,-82.123365,65.316083,23,6,1,1,8.816222,0.722446,63.084486

In [12]:
print(data["feature1"])

0             Site engineer
1             Site engineer
2             Site engineer
3             Site engineer
4             Site engineer
                ...
134196    Minerals surveyor
134197    Minerals surveyor
134198    Minerals surveyor
134199    Minerals surveyor
134200    Minerals surveyor
Name: feature1, Length: 134201, dtype: object

In [24]:
df = data.copy()
categorical_cols = ["feature1", "feature2"]
category_index = {}
for col in categorical_cols:
    df[col] = df[col].astype("category")
    category_index[col] = df[col].cat.categories
    df[col] = df[col].cat.codes

In [25]:
category_index

{'feature1': Index(['Academic librarian', 'Accommodation manager', 'Accountant, chartered',
        'Accountant, chartered certified', 'Accountant, chartered management',
        'Accounting technician', 'Actuary', 'Acupuncturist', 'Administrator',
        'Administrator, Civil Service',
        ...
        'Tree surgeon', 'Video editor', 'Volunteer coordinator',
        'Warden/ranger', 'Warehouse manager', 'Waste management officer',
        'Water engineer', 'Water quality scientist', 'Web designer',
        'Wellsite geologist'],
       dtype='object', length=481),
 'feature2': Index(['entertainment', 'food_dining', 'gas_transport', 'grocery_net',
        'grocery_pos', 'health_fitness', 'home', 'kids_pets', 'misc_net',
        'misc_pos', 'personal_care', 'shopping_net', 'shopping_pos', 'travel'],
       dtype='object')}