In [2]:
import pandas as pd

In [3]:
path = "data/raw_data/phase-1/prob-2/raw_train.parquet"

In [4]:
data = pd.read_parquet(path)

In [5]:
data.head()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature12,feature13,feature14,feature15,feature16,feature17,feature18,feature19,feature20,label
0,V1,4.781942,V2,V8,1337.025331,V4,V4,2.0,V2,V0,...,V2,35.689494,none,V1,1.0,V2,1.0,none,yes,0
1,V3,22.764682,V4,V2,1664.415301,V0,V4,4.0,V1,V0,...,V0,23.265980,none,V1,2.0,V2,1.0,none,yes,0
2,V3,7.462099,V2,V3,750.653224,V3,V2,4.0,V2,V0,...,V2,34.060872,stores,V0,1.0,V2,1.0,yes,yes,0
3,V3,23.718364,V4,V7,4829.002078,V4,V2,4.0,V1,V0,...,V3,62.477448,none,V1,2.0,V1,1.0,none,yes,0
4,V3,13.768903,V3,V3,3559.956292,V3,V4,1.0,V1,V0,...,V2,41.999120,bank,V1,1.0,V2,1.0,yes,yes,0

In [6]:
data["feature8"].unique

<bound method Series.unique of 0        2.0
1        4.0
2        4.0
3        4.0
4        1.0
        ...
59995    3.0
59996    2.0
59997    2.0
59998    2.0
59999    3.0
Name: feature8, Length: 60000, dtype: float64>

In [7]:
category_columns = [
    "feature1",
    "feature3",
    "feature4",
    "feature6",
    "feature7",
    "feature8",
    "feature9",
    "feature10",
    "feature11",
    "feature12",
    "feature14",
    "feature15",
    "feature16",
    "feature17",
    "feature19",
    "feature20"
]

In [8]:
df = data.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   feature1   60000 non-null  object
 1   feature2   60000 non-null  float64
 2   feature3   60000 non-null  object
 3   feature4   60000 non-null  object
 4   feature5   60000 non-null  float64
 5   feature6   60000 non-null  object
 6   feature7   60000 non-null  object
 7   feature8   60000 non-null  float64
 8   feature9   60000 non-null  object
 9   feature10  60000 non-null  object
 10  feature11  60000 non-null  float64
 11  feature12  60000 non-null  object
 12  feature13  60000 non-null  float64
 13  feature14  60000 non-null  object
 14  feature15  60000 non-null  object
 15  feature16  60000 non-null  float64
 16  feature17  60000 non-null  object
 17  feature18  60000 non-null  float64
 18  feature19  60000 non-null  object
 19  feature20  60000 non-null  object
 20  label      60000 non-null  int64
dtypes: float64(7), int64(1), object(13)
memory usage: 9.6+ MB

In [9]:
category_index = {}
for col in category_columns:
    df[col] = df[col].astype("category")
    category_index[col] = df[col].cat.categories
    df[col] = df[col].cat.codes

In [10]:
df.head(2)

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature12,feature13,feature14,feature15,feature16,feature17,feature18,feature19,feature20,label
0,1,4.781942,2,9,1337.025331,4,4,1,2,0,...,2,35.689494,1,1,0,2,1.0,0,1,0
1,3,22.764682,4,3,1664.415301,0,4,3,1,0,...,0,23.265980,1,1,1,2,1.0,0,1,0

In [11]:
category_index

{'feature1': Index(['V0', 'V1', 'V2', 'V3'], dtype='object'),
 'feature3': Index(['V0', 'V1', 'V2', 'V3', 'V4'], dtype='object'),
 'feature4': Index(['V0', 'V1', 'V10', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9'], dtype='object'),
 'feature6': Index(['V0', 'V1', 'V2', 'V3', 'V4'], dtype='object'),
 'feature7': Index(['V0', 'V1', 'V2', 'V3', 'V4'], dtype='object'),
 'feature8': Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64'),
 'feature9': Index(['V0', 'V1', 'V2', 'V3', 'V4'], dtype='object'),
 'feature10': Index(['V0', 'V1', 'V2'], dtype='object'),
 'feature11': Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64'),
 'feature12': Index(['V0', 'V1', 'V2', 'V3'], dtype='object'),
 'feature14': Index(['bank', 'none', 'stores'], dtype='object'),
 'feature15': Index(['V0', 'V1', 'V2'], dtype='object'),
 'feature16': Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64'),
 'feature17': Index(['V0', 'V1', 'V2', 'V3'], dtype='object'),
 'feature19': Index(['none', 'yes'], dtype='object'),
 'feature20': Index(['no', 'yes'], dtype='object')}

In [12]:
from sklearn.model_selection import train_test_split
train, dev = train_test_split(
    df,
    test_size=0.2,
    random_state=456,
)

In [13]:
len(train),len(dev)

(48000, 12000)

In [14]:
train.head(1)

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature12,feature13,feature14,feature15,feature16,feature17,feature18,feature19,feature20,label
47981,0,6.8136,2,8,1169.690642,0,2,1,2,0,...,0,60.521679,1,1,0,1,1.0,0,1,1

In [15]:
target_col = "label"
train_x = train.drop([target_col], axis=1)
train_y = train[[target_col]]
test_x = dev.drop([target_col], axis=1)
test_y = dev[[target_col]]

In [16]:
train_y.head()

       label
47981      1
1024       0
42034      0
37121      0
18071      0

In [17]:
train_x = train_x.to_numpy()
train_y = train_y.to_numpy()

In [18]:
# !pip install xgboost==1.7.5

Requirement already satisfied: xgboost==1.7.5 in /Users/mac/opt/anaconda3/envs/openvino-dev/lib/python3.8/site-packages (1.7.5)
Requirement already satisfied: scipy in /Users/mac/opt/anaconda3/envs/openvino-dev/lib/python3.8/site-packages (from xgboost==1.7.5) (1.9.1)
Requirement already satisfied: numpy in /Users/mac/opt/anaconda3/envs/openvino-dev/lib/python3.8/site-packages (from xgboost==1.7.5) (1.23.5)

In [19]:
import numpy as np
import xgboost as xgb
model_config = {"random_state": 456}
if len(np.unique(train_y)) == 2:
    print("Binary classification")
    objective = "binary:logistic"
else:
    objective = "multi:softprob"
model = xgb.XGBClassifier(objective=objective, **model_config)
model.fit(train_x, train_y)

Binary classification

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=456, ...)

In [20]:
test_x = test_x.to_numpy()
test_y = test_y.to_numpy()
predictions = model.predict(test_x)

In [22]:
predictions.shape

(12000,)

In [23]:
from sklearn.metrics import roc_auc_score
auc_score = roc_auc_score(test_y, predictions)
auc_score

0.7579546360069409